#brushRange {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: -1;
}
.controls, .createMap {
  text-align: center;
  width: 100%;
  border-top: 2px solid #343a40;
}
.commands {
  border-top: 2px solid #343a40;
  font-size: 24px;
  border-bottom: 2px solid #343a40;
}
.commands p {
  margin-left: 20px;
}
.rowcontent {
  height: 30px;
  padding: 20px;
}
.rowLabel {
  width: 180px;
  font-weight: 500;
  font-size: 22px;
  background-color: #343a40;
  height: 80px;
  color:white;
  line-height: 80px;
  display: inline-block;
}
.downloadWrapper {
  text-align: center;
}
#downloadInbetween {
  margin: 0px;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
#file_input {
  border: 1px solid rgb(220,220,220);
  padding: 5px;
}
#downloadMap {
  cursor: pointer;
}
.download {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.controls label, .createMap label {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 7px;
}
.controls input, .createMap input {
  width: 80px;
}
.controls select, .createMap select {
  height: 24px;
  width: 130px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}
.tile {
  width:20px;
  height:20px;
  background-color: wheat;
  display:inline-block;
  border: 0.5px solid #e8efe8;
  transition: width 0.2s, height 0.2s, border 0.2s;
  cursor: crosshair
}
.soup {
  width: 7px;
  height: 7px;
  margin: 6px;
  background-color: white;
}
.mapInfo {
  margin-bottom: 20px;
}
.map {
  width: 840px;
  height:840px;
  position: relative;
  margin: auto;
  cursor: crosshair;
}

table {
  margin: auto;
  border-spacing:0px;
  border: 2px solid #343a40;
  margin-top:1rem;
  font-family: Alegreya, sans-serif;
}

table tr {
  margin:0px;
  padding:0px;
}

table th {
  padding: 10px;
  font-size: 25px;
  color: white;
  font-weight: 300;
  background-color: #6c757d;
  border-top: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  border-left: 2px solid #343a40;

}

table td {
  color:#343a40;
  border-bottom: 2px solid #343a40;
  padding: 6px;
  font-size: 20px;
  border-right: 2px solid #343a40;
  border-left: 2px solid #343a40;
}
