.tile {
  width:20px;
  height:20px;
  background-color: wheat;
  display:inline-block;
  border: 0.5px solid #e8efe8;
  transition: width 0.2s, height 0.2s, border 0.2s;
}
.soup {
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: white;
}
.tileHover::after {
  content:'';
  width: 20px;
  height:20px;
  border: 1px solid yellow;
  border-radius:50%;
  position: absolute;
  left:10px;
}
.map {
  width: 840px;
  height:840px;
  position: relative;
  margin: auto;
}

table {
  margin: auto;
  border-spacing:0px;
  border: 2px solid #343a40;
  margin-top:1rem;
  font-family: Alegreya, sans-serif;
}

table tr {
  margin:0px;
  padding:0px;
}

table th {
  padding: 10px;
  font-size: 25px;
  color: white;
  font-weight: 300;
  background-color: #6c757d;
  border-top: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  border-left: 2px solid #343a40;

}

table td {
  color:#343a40;
  border-bottom: 2px solid #343a40;
  padding: 6px;
  font-size: 20px;
  border-right: 2px solid #343a40;
  border-left: 2px solid #343a40;
}
